[user]
    name = {{ .git.name }}
    email = {{ .git.work.email }}
{{- if .git.work.signkey }}
    signingkey = {{ .git.work.signkey }}
{{- end }}

[push]
    default = simple

[core]
    editor = vim
    excludesfile = ~/.gitignore
    pager = delta
    hooksPath = {{ .chezmoi.homeDir }}/.GIS-lm-build/git-hooks

[merge]
    ff = false
    conflictstyle = zdiff3

[interactive]
    diffFilter = delta --color-only

# git-delta - side-by-side diffs with line numbers and syntax highlighting,
# themed to match iTerm/bat. `navigate` adds n/N jumps between files.
[delta]
    navigate = true
    line-numbers = true
    side-by-side = true
    syntax-theme = Solarized (dark)

[pull]
    rebase = merges

[commit]
    gpgsign = true
    verbose = true

[gpg]
    program = gpg

[init]
    defaultBranch = main

[credential "https://github.com"]
    helper = !/opt/homebrew/bin/gh auth git-credential

[credential "https://gist.github.com"]
    helper = !/opt/homebrew/bin/gh auth git-credential
