[staging]
host = REPLACE_WITH_DATABRICKS_STAGING_HOST
token = REPLACE_WITH_DATABRICKS_STAGING_TOKEN
jobs-api-version = 2.2

[prod]
host = REPLACE_WITH_DATABRICKS_PROD_HOST
token = REPLACE_WITH_DATABRICKS_PROD_TOKEN
jobs-api-version = 2.2
